@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Raleway:400,700');


// variables
$colors: (
	bg-start: #F6F6F6,
	bg-end: #232323,

	prime: #5121E6,
	
	border: rgba(#5121E6,0.1),
	border-light: rgba(#fff,0.03),

	danger: #f5006d,
	success: #00DC87,
	
	taxifusion: #FFBE00,
	lumencase: #F6416C,
	slected: #1852A4,
	clearcanvas: #00b2ec,
	
	text: #242424,
	text-light: rgba(#242424, 0.35),
	text-lighter: rgba(#242424, 0.07),

	text-negative: #fff,
);

$fonts:(
	prime: 'Poppins',

);
$z-layers: (
	remove: -9999,
	default: 1,
	spinner: 9999,
);


//functions
//get Color from map
@function color($key) {
	 @if map-has-key($colors, $key){
		@return map-get($colors, $key);
	}
	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}
//get Z-Index from map-get
@function zIndex($key) {
	 @if map-has-key($z-layers, $key){
		@return map-get($z-layers, $key);
	}
	@warn "Unknown `#{$key}` in $z-layers.";
	@return null;
}

//get Z-Index from map-get
@function font($key) {
	 @if map-has-key($fonts, $key){
		@return map-get($fonts, $key);
	}
	@warn "Unknown `#{$key}` in $fonts.";
	@return null;
}
